@import 'tailwindcss';
/* 1. Import Font Inter (Berbagai Weight) */
@import "@fontsource/inter/300.css";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/800.css";

/* 2. Import Remix Icon */
@import "remixicon/fonts/remixicon.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --color-emerald-500: #10b981;
  --color-emerald-600: #059669;
  --color-slate-900: #0f172a;

  --font-inter: "Inter", ui-sans-serif, system-ui;
}

/* Custom Scrollbar */
@utility custom-scrollbar {
  &::-webkit-scrollbar { width: 4px; }
  &::-webkit-scrollbar-track { background: transparent; }
  &::-webkit-scrollbar-thumb {
    background: var(--color-slate-700);
    border-radius: 10px;
  }
}

/* Pastikan ini ada di file CSS kamu */
[x-cloak] {
    display: none !important;
}
